.header {
	margin-top: 80px;
	align-content: center;
}

.tasks {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: 700;
	display: inline;
	margin-left: 10px;
	letter-spacing: 1px;
}
.lists {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: 100;
	display: inline;
	letter-spacing: 1px;
}
.addnewitem {
	font-family: 'Roboto', sans-serif;
	border-width: 0px 0px 0px 0px;
	background-color: #E74C3C;
	cursor: pointer;
	padding: 0px 10px 0px 10px;
	border-radius: 50%; 
	margin-left: 45px;
}
.add {
	font-size: 32px;
	color: white;
}
.maindiv {
	display: flex;
	flex-direction: column;
}
.paris{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: black;
	margin: 30px 20px 40px 10px;
    box-sizing: border-box;
    border: 1px outset #E74C3C;
    box-shadow: 8px 8px 4px -2px lightgrey;
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    letter-spacing: 1px;
}
.list2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 20px 20px 40px 10px;
    box-sizing: border-box;
    border: 1px outset #E74C3C;
    box-shadow: 8px 8px 4px -2px lightgrey;
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    letter-spacing: 1px;
}
.list3 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 20px 20px 40px 10px;
    box-sizing: border-box;
    border: 1px outset #E74C3C;
    box-shadow: 8px 8px 4px -2px lightgrey;
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    letter-spacing: 1px;
}
.list4 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 20px 20px 40px 10px;
    box-sizing: border-box;
    border: 1px outset #E74C3C;
    box-shadow: 8px 8px 4px -2px lightgrey;
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    letter-spacing: 1px;	
}
.list5 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 20px 20px 40px 10px;
    box-sizing: border-box;
    border: 1px outset #E74C3C;
    box-shadow: 8px 8px 4px -2px lightgrey;
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
    letter-spacing: 1px;
}


/*css for index1*/


.addnewlist1 {
	box-sizing: border-box;
	border-width: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px 20px 0px 20px;
    border-radius: 10px;
    border: 1px outset #E74C3C;
	box-shadow: 10px 10px 5px -2px lightgrey;
}
.newlist1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #E74C3C;
	font-size: 22px;
}
.text1 {
	width: 100%;
	padding: 10px 50px;
	border-width: 100%;
	margin: auto;
    border: 1px solid #E74C3C;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px -2px lightgrey;
}
.button3 {
	margin: 20px 0px 20px 85px;
	padding: 5px 5px 5px 5px;
	background-color: #E74C3C;
	border-radius: 15px;
	border: 1px solid #E74C3C;
}
.button3:hover {
	cursor: pointer;
}
.add1 {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
}


/*css for index2*/



.header2 {
	margin-top: 100px;
	align-content: center;
}
.backbutton {
	font-family: 'Roboto', sans-serif;
	border-width: 0px 0px 0px 0px;
	background-color: #E74C3C;
	cursor: pointer;
	padding: 0px 5px 5px 5px;
	border-radius: 50%; 
	margin-right: 10px;
	margin-left: 10px;
}
.arrow2 {
	color: white;
	font-size: 24px;
}
.heading1 {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 35px;
	display: inline;
}
.paris2 {
	font-family: 'Roboto', sans-serif;
	border: 1px outset #E74C3C;
	box-shadow: 10px 10px 5px -2px lightgrey;
	border-radius: 10px;
	margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding-bottom: 20px;
	font-size: 24px;
	font-weight: 100;
}
.heading2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-bottom: 5px;
	margin-left: 45px;
	margin-right: 45px;
	color: #E74C3C;
}
.underline {
	border-bottom: 1px solid black;
	margin-left: 65px;
	margin-top: 10px;
}
.completedtask2 {
	color: #E74C3C;
	text-align: right;
	margin-right: 37px;
	margin-top: 40px;
	text-decoration: line-through solid #E74C3C 4px;
	font-weight: 300;
	font-size: 21px;
}
.checkbox2 {
	margin-left: 35px;
	width: 18px;
	height: 18px;
}
.pendingtask2 {
font-size: 20px;
}
.addnewitem2 {
	border-width: 0px 0px 0px 0px;
	background-color: #E74C3C;
	cursor: pointer;
	margin-left: 180px;
    margin-top: 100px;
	font-family: 'Roboto', sans-serif;
	padding: 0px 10px 0px 10px;
	border-radius: 50%;
	font-weight: 100; 
}

/*widescreencss*/

.button2 {
	visibility: hidden;
}
.plus {
	visibility: hidden;
}
.addlist{
	visibility: hidden;
}
.listdiv {
	visibility: hidden;
}
.paris1 {
	visibility: hidden;
}
.heading {
	visibility: hidden;
}
.underline {
	visibility: hidden;
}
.completedtask{
	visibility: hidden;
}
.checkbox{
	visibility: hidden;
}
.pendingtask {
	visibility: hidden;
}
.mylist {
	visibility: hidden;
}
.mylist2 {
	visibility: hidden;
}
.addnewlist2 {
	visibility: hidden;
}
.newlist2 {
	visibility: hidden;
}
.text2 {
	visibility: hidden;
}
.button4 {
	visibility: hidden;
}
.add2 {
	visibility: hidden;
}
.heading3 {
	visibility: hidden;
}
.backbutton2 {
	visibility: hidden;
}
.arrow {
	visibility: hidden;
}.back {
	visibility: hidden;
}
.paris3 {
	visibility: hidden;
}
.heading4 {
	visibility: hidden;
}
.underline2 {
	visibility: hidden;
}
.completedtask3 {
	visibility: hidden;
}
.checkbox3 {
	visibility: hidden;
}
.pendingtask3 {
	visibility: hidden;
}
.addnewitem3 {
	visibility: hidden;
}
































